:root {
    --cyan: #2ec1e2;
    --yellow: #ffea00;
    --mplus: "M PLUS Rounded 1c", sans-serif;
    --black: rgba(0, 0, 0, 0.8);
}

*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--mplus);
}

body::-webkit-scrollbar {
    width: .5rem;

}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom right, var(--cyan), rgb(0, 255, 247));
    border-radius: 1rem;

}
body::-webkit-scrollbar-track {
    background: rgb(216, 216, 216);
}

/* Landing Page */

.landing {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    position: relative;
    overflow: hidden;

    .left {
        width: 55vw;
        padding-top: 5rem;
        padding-left: 5rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        .head {
            font-size: 3.5rem;
            font-weight: 800;
            line-height: 1.3;
            color: var(--black);

            span {
                color: var(--cyan);
            }
        }

        .text {
            width: 41rem;
            font-size: 1.2rem;
            letter-spacing: .5px;
            font-weight: 400;
            color: var(--black);
        }

        .shop {
            margin-top: 1rem;
            display: flex;
            gap: 2rem;
            align-items: center;
            padding: .5rem 1.5rem;
            width: fit-content;
            background: linear-gradient(to bottom right, var(--cyan), rgb(5, 124, 227));
            color: white;
            border-bottom-right-radius: 1.4rem;
            border-top-left-radius: 1.4rem;
            cursor: pointer;
            transition: .3s ease;

            .lefts {
                font-size: 1.1rem;
            }

            .rights {
                font-size: 1.1rem;

                i {
                    color: white !important;

                }
            }
        }

        .shop:hover {
            box-shadow: 4px 4px rgb(0, 137, 155);
            /* transform: scale(1.1); */
        }
    }

    .right {
        /* border-radius: 40rem 0rem 0rem 0rem / 20rem 0rem 0rem 0rem; */
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 45vw;

        img {
            height: calc(100vh - 4rem);
            width: auto;
        }
    }
}

/* Landing Page */


/* Produk */

.product {
    margin-top: 3rem !important;
    /* margin-bottom: 5rem !important; */
    width: 97%;
    margin: 0 auto;
    /* height: 4rem; */
    height: fit-content;
    overflow: hidden !important;
    /* display: flex; */
    /* flex-direction: column; */

    .heading {
        font-size: 2.5rem;
        font-weight: 800;
        color: var(--black);
        text-align: center;
        position: relative;
    }

    .heading::after {
        content: '';
        position: absolute;
        height: 4.5px;
        width: 10%;
        top: 4rem;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 1rem;
        background-color: var(--yellow);
    }

    .for-product {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        .judul {
            font-family: var(--mplus);
            font-size: 1.7rem;
            font-weight: 700;
            color: var(--black);
            padding: .5rem;
            position: relative;
            margin: 1.5rem 0;
        }


        .judul::after {
            content: '';
            position: absolute;
            height: 4.5px;
            width: 99%;
            background: linear-gradient(to right, var(--yellow), transparent 70%);
            top: 3.5rem;
            left: .5rem;
            border-radius: 1rem;
        }


        .swipper {

            .lists {

                .swiper-slide {
                    transition: 0.3s ease;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: fit-content;

                    .item {
                        width: 21rem !important;
                        border: 2.4px solid rgb(171, 171, 171);
                        border-radius: 3px;
                        transition: .3s ease;
                        display: flex;
                        padding: .5rem;
                        /* background-color: skyblue; */
                        overflow: hidden;


                        .product-view {
                            /* height: 7rem; */
                            width: auto;
                            position: relative;

                            .tier {
                                position: absolute;
                                top: .5rem;
                                left: -.5rem;
                                font-size: .8rem;
                                font-weight: 500;
                                color: white;

                                display: flex;
                                flex-direction: column;
                                gap: .25rem;

                                .best-seller {
                                    background-color: var(--cyan);
                                    padding: .2rem .3rem;
                                    border-top-right-radius: .1rem;
                                    border-bottom-right-radius: .1rem;
                                    width: fit-content;
                                }

                                .popular {
                                    background-color: rgb(255, 217, 0);
                                    padding: .2rem .3rem;
                                    border-top-right-radius: .1rem;
                                    border-bottom-right-radius: .1rem;
                                    width: fit-content;
                                }
                            }

                            img {
                                border-radius: 2px;
                                width: 7rem;
                                height: auto;
                                border: 2px solid rgba(0, 0, 0, 0.2);
                            }
                        }

                        .product-detail {
                            width: 13rem;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            padding-left: .5rem;
                            padding-top: .25rem;
                            padding-bottom: .25rem;
                            gap: .5rem;

                            .general {
                                display: flex;
                                flex-direction: column;
                                gap: .25rem;

                                .nama {
                                    font-size: 1.05rem;
                                    font-weight: 600;
                                    color: var(--black);
                                    line-height: 1.2;
                                    letter-spacing: -.75px;
                                    height: 2.7rem;
                                    display: flex;
                                    align-items: center;
                                    /* justify-content: center; */
                                }

                                .bigs {
                                    font-size: 1.3rem;
                                }

                                .type {
                                    font-size: .9rem;
                                    color: var(--yellow);
                                }

                                .creator {
                                    font-size: .9rem;
                                    color: rgb(138, 138, 138);
                                }

                                .rating {
                                    display: flex;
                                    align-items: center;
                                    gap: .25rem;

                                    .active {
                                        i {
                                            color: #ffea00;
                                        }
                                    }

                                    .passive {
                                        i {
                                            color: rgb(162, 162, 162);
                                        }
                                    }
                                }
                            }

                            .buy {
                                display: flex;
                                flex-direction: column;
                                position: relative;

                                .harga {
                                    font-size: 1.2rem;
                                    font-weight: 800;

                                }



                            }
                        }
                    }

                    .item:hover {
                        .buy {
                            .add {
                                transform: translateX(0);
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Produk */

/* About */

.about {
    margin: 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;


    .heading {
        font-size: 2.5rem;
        font-weight: 800;
        color: var(--black);
        text-align: center;
        position: relative;
    }

    .heading::after {
        content: '';
        position: absolute;
        height: 4.5px;
        width: 10%;
        top: 4rem;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 1rem;
        background-color: var(--yellow);
    }

    .about-company {
        display: flex;
        /* align-items: center; */
        justify-content: space-between;

        .abouts {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            padding: 1.5rem;

            .text {

                .judul {
                    font-size: 1.75rem;
                    font-style: italic;
                    font-weight: 600;
                    color: var(--black);
                    margin-bottom: .2rem;
                }

                .desk {
                    color: var(--black);
                    font-size: 1.15rem;
                    text-indent: 2rem;
                    line-height: 1.4;

                    .indent {
                        margin-top: .7rem;
                        text-indent: 2rem;
                    }

                    span {
                        font-weight: 600;
                        font-size: 1.2rem;
                        font-style: italic;
                        color: var(--cyan);
                    }

                    .papper {
                        font-weight: 800 !important;
                        color: var(--black) !important;
                    }

                    .net {
                        font-weight: 800;
                        color: var(--yellow);
                    }
                }
            }
        }

        .pics {
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            gap: .5rem;

            .top {
                width: 38vw;
                position: relative;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .top::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 38vw;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.4);
            }

            .bottom {
                display: flex;
                gap: .5rem;

                .left {
                    width: 17.5vw;
                    position: relative;
                    height: fit-content;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .left::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 17.5vw;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.3);
                }

                .right {
                    width: 17vw;
                    position: relative;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .right::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 17vw;
                    height: 100%;
                    background-color: rgba(0, 0, 0, .4);
                }
            }
        }
    }

}

/* About */

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    background-color: rgba(0, 0, 0, 0.8);

    .left {
        display: flex;
        gap: 1rem;
        align-items: center;

        .head {
            font-size: 1.5rem;
            font-weight: 800;
            color: white;
        }

        .mid {
            height: 5rem;
            width: 1px;
            background-color: rgb(123, 123, 123);
        }

        .navigate {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            color: white;
            font-size: .85rem;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .media {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .sosmed {
                display: flex;
                align-items: center;
                justify-content: center;

                text-decoration: none;

                i {
                    font-size: 1.5rem;
                    color: white;

                }

            }
        }

        .support {
            color: white;
            font-size: .85rem;
        }
    }
}

/* Footer */


/* alert */

.login-alert {
    .modal-dialog {

        .modal-content {
            background-color: transparent;
            border: none;

            .modal-body {
                background-color: white;
                width: 90%;
                padding: 0;
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;
                margin: 0 auto;
                border-bottom-left-radius: .5rem;
                border-bottom-right-radius: .5rem;

                .isian {
                    height: 8px;
                    width: 101.5%;
                    background-color: var(--cyan);
                    border-radius: .5rem;
                }

                .wrap-cls {
                    background-color: rgb(245, 245, 245);
                    position: absolute;
                    top: -0.5rem;
                    right: -0.5rem;
                    height: 1.5rem;
                    width: 1.5rem;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: .3s ease;
                }

                .wrap-cls:hover {
                    transform: rotate(90deg);
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    padding: 1.5rem;
                    gap: .5rem;

                    .icon {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        i {
                            color: var(--cyan);
                            font-size: 4rem;
                        }
                    }

                    .message {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: .25rem;

                        .mess-title {
                            font-size: 1.3rem;
                            font-weight: 600;
                            color: var(--black);
                        }

                        .mess-txt {
                            font-size: .9rem;
                            color: rgba(0, 0, 0, 0.6);
                            line-height: 1.2;
                            text-align: center;
                        }
                    }
                }

                .tombol {
                    padding: 0 1rem;
                    padding-bottom: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .login-btn {
                        padding: .35rem 2rem;
                        border-radius: .25rem;
                        background: linear-gradient(to bottom right, var(--cyan), rgb(0, 115, 255));
                        font-weight: 600;
                        color: white;
                        font-size: .9rem;
                        cursor: pointer;
                        transition: .3s ease;
                        text-decoration: none;
                    }

                    .login-btn:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

/* alert */


.add {
    position: absolute;
    top: 23.4%;
    left: 86.7%;
    padding: .52rem;
    background: linear-gradient(to bottom right, var(--yellow), rgb(255, 166, 0));
    transform-origin: bottom right;
    transform: translateY(3rem);
    transition: .3s ease;
    cursor: pointer;
    border-top-left-radius: .25rem;
    border-bottom-right-radius: .1rem;
    border: none;

    i {
        font-size: 1.1rem;
        color: white;
    }

}
